@import 'variables';

.h-box {
  display: flex;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
}

.v-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
}

.c-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-limit {
  flex-grow: 0;
  flex-shrink: 0;
}

.flex-spacer {
  flex: 1;
}

.scroll {
  overflow: auto;
}

.pill {
  height: 1.25rem;
  line-height: 1.25rem;
  border-radius: 1.25rem;
  font-size: 0.75rem;
  font-weight: lighter;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  padding-left: 5px;
  padding-right: 0.25rem;
  background: $color-gray-07
}

.standard-indent {
  padding-left: $standard-indent;
}
